.recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 20em;
  height: 20em;
  border: solid;
  border-radius: 2em;
  border-color: #6087db;
  margin: 1em;
  color: black;
  background-color: #D7E3FC;
  box-shadow: 10px 5px 5px gainsboro;
  /* overflow-y: scroll; */
}

.card-title {
  text-align: center;
}

.recipe-info {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 22em;
}

img {
  height: 10em;
  width: 10em;
}
